config.yaml
*.ipynb_checkpoints
# Anything ending in pkl
*.pkl
# Any pycache
__pycache__
# Any npy files
*.npy
/data/vector_store
/src/tree.py
# Ignore any pth files
*.pth
# Ignore saerch/checkpoints
/saerch/checkpoints
# Ignore src/hf_repo
/src/hf_repo
/data/vector_store_old
/data/vector_store_csLG
# Any wandb folders
wandb
